/* Global override */
html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
#red{
    background:red;
    height:15%;
}
.parent{
    position:relative;
    height:70%;
}
#green{
    background:green;
    width: 33.33%;
    float:left;
    height: 100%;
}
#blue{
    background:blue;
    width: 33.33%;
    float:left;
    height: 100%;
}

#yellow{
    background:yellow;
    width: 33.33%;
    float:left;
    height:100%;
}
#purple{
    background: purple;
    clear: both;
    height: 15%;
}
